{% extends "base.html.twig" %}
{% block head %}
{% endblock %}
{% block header %}

{% endblock %}
<div class="item fixed-bottom" id="stick">
    <div class="container item-content">
        <div class="row">
            <div class="col-8">
                <img src="assets/default.jpeg" alt="arold" class="item-picture">
            </div>
            <div class="col-4">
                <p>Adresse mail</p>
                <p>Nom </br> Prenom</p>
                <p>Téléphone</p>
                <p>Catégorie</p>
                <p>Description</p>
            </div>
        </div>
    </div>
    <div>
        <p>
            <button class="modal-close" aria-label="close">Fermer</button>
        </p>
    </div>
</div>